/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background-color: #002855;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav ul li a:hover,
nav ul li a.active {
  color: #c1121f;
}

.logout-btn {
  height: 40px;
  background-color: #c1121f;
  border: none;
  padding: 8px 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn:hover {
  background: #db1a27;
}

/* Main Section */
main {
  flex: 1;
  background: #f4f4f9;
  padding: 50px;
  text-align: center;
}

main h1 {
  color: #002855;
  margin-bottom: 30px;
  font-size: 32px;
}

.academic-card {
  background: white;
  margin: 0 auto;
  padding: 30px;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.student-info {
  text-align: left;
  margin-bottom: 20px;
  line-height: 1.8;
}

.academic-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.academic-table th,
.academic-table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

.academic-table th {
  background: #002855;
  color: white;
}

.achievements {
  text-align: left;
  margin-bottom: 20px;
}

.achievements h3 {
  color: #002147;
  margin-bottom: 10px;
}

.download-btn {
  background: #002855;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.download-btn:hover {
  background: #c1121f;
}

/* Footer */
footer {
  background: #002855;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: auto;
}

.footer-links {
  margin-top: 8px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.footer-links a:hover {
  text-decoration: underline;
}