/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #002855;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
/* Logo styling */
.login-logo img {
    margin-top: 90px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-bottom: 30px;
    object-fit: cover;
}


/* Heading styling */
h1 {
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
}

/* User selection links (as buttons) */
.user-selection {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-selection a {
    display: inline-block;
    text-align: center;
    padding: 15px;
    background-color: #c1121f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    width: 250px;
    transition: background 0.3s;
}

.user-selection a:hover {
    background-color: #a50f1b;
}

/* Footer */
footer {
  background: #002855;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: auto;
}

.footer-links {
  margin-top: 8px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.footer-links a:hover {
  text-decoration: underline;
}