<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Staff Donations - NSUT</title>
    <link href="https://fonts.googleapis.static/com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="static/staff_donation.css" />
  </head>

  <body>
    <!-- Header / Navbar -->
    <header>
      <div class="logo">
        <img src="static/nsut.logo.png" alt="NSUT Logo" />
      </div>
      <nav>
        <ul>
          <li><a href="/staff_home">Home</a></li>
          <li><a href="/staff_notice">Notices</a></li>
          <li><a href="/staff_donations" class="active">Donations</a></li>
        </ul>
      </nav>
      <form action="/logout" method="POST" style="display:inline;"><button class="logout-btn">Logout</button></form>
    </header>

    <main>
      <!-- Donation Section -->
      <section class="donation-archive">
        <h2>Alumni Donations</h2>
        <p>Below is the record of all alumni contributions supporting NSUT’s growth.</p>

        <div class="donation-list">

          	{{range .}}
          <div class="donation-card">
	<h3>{{.Name}}</h3>
        <p><strong>Batch:</strong> 2020</p>
	<p><strong>Amount:</strong>{{.Amount}}</p>
	<div class="donation-date">Donated on: {{.Time}}</div>
	<p><em>{{.Message.String}}</em></p>
        </div>
	{{end}}


                  </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2025 NSUT Alumni Portal | All Rights Reserved</p>
      <div class="footer-links">
        <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> |
        <a href="#">Contact</a>
      </div>
    </footer>
  </body>
</html>
