<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page - Staff</title>
    <link rel="stylesheet" href="static/staff_login.css">
</head>
<body>
    <div class="login-logo">
        <img src="static/nsut.logo.png" alt="NSUT Logo">
    </div>
    <h1>Welcome to NSUT Staff</h1>
    <form method="post">
        <label for="username">Staff ID:</label>
        <input type="text" id="username" name="username"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>

        <button type="submit">Login</button>
    </form>

    <footer>
        <p>&copy; 2025 NSUT Staff Portal | All Rights Reserved</p>
        <div class="footer-links">
            <a href="#">Privacy Policy</a> | 
            <a href="#">Terms of Use</a> | 
            <a href="#">Contact</a>
        </div>
    </footer>
</body>
</html>
